* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.navbar {
    box-shadow: 0px 1px 4px 2px #605e5e18;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#image_logo {
    cursor: pointer;
}
.header_button {
    border-style: solid;
    border-color: rgba(235, 101, 58, 255);
    border-radius: 0px 1.4rem 1.4rem 1.4rem;
    background-color: rgba(235, 101, 58, 255);
    font-size: 0.7rem;
    font-weight: 800;
    width: 6.4rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
}
.burguer_menu {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.line {
    height: 3px;
    width: 40px;
    background-color: black;
}

.image1_title,
.image2_title,
.image3_title {
    font-weight: 400;
}

.header_main {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    height: 9rem;
    width: 100%;
}

.header_title {
    color: rgba(235, 101, 58, 255);
}
.header_subtitle {
    font-size: 45px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 30px;
    margin: 10px;
    width: 350px;
    height: 260px;
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.image1 {
    background-image: url(/Images/01-2.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
}
.image2 {
    background-image: url(/Images/02.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
}
.image3 {
    background-image: url(/Images/03.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
}
.dropdown_Menu,
.header_desktop_button_Buy {
    display: none;
}

@media (min-width: 900px) {
   
   *{
       color: black;
       text-decoration: none;
   }
    .burguer_menu {
        display: none;
    }
 
    .navbar {
        padding: 1.1rem;
    }
    .desktop_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-right: 20px;
    }
    .dropdown_Menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 600px;
        height: 3rem;
        font-size: 1.1rem;
        font-weight: 800;
    }

    .dropdown_Menu li {
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 3px solid transparent;
    }
    .dropdown_Menu li:hover {
        cursor: pointer;
        color: #ed632f;
        border-bottom: 3px solid #ed632f;
    }
    .dropdown_menu_LiveDemo {
        display: none;
    }
    .Live_Demo_tittle {
        position: relative;
    }
    .Live_Demo_tittle:hover .dropdown_menu_LiveDemo {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 3rem;
        padding-right: 5px;
        background: white;
    }

    .dropdown_menu_LiveDemo {
        position: absolute;
        height: 150px;
        width: 250px;
        color: black
        padding: 0px 15px 0px 15px;
    }

    .dropdown_menu_LiveDemo li {
        border-bottom: 2px solid #c4c2c2;
    }

    .dropdown_menu_LiveDemo li:hover {
       
        border-bottom: 2px solid #ed632f;
        color:#ed632f;
    
    }

    .dropdown_menu_LiveDemo_item li:hover{
        color:#ed632f;
    }


    .header_desktop_button_Buy {
        display: flex;
        padding: 0.5rem;
        padding-left: 1.2rem;
        padding-top: 0.59rem;
        height: 3.3rem;
        width: 8.7rem;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0rem 1.5rem 1.5rem 1.5rem;
        background: white;
        border: 3px solid rgba(235, 101, 58, 255);
    }

    .header_desktop_button_Buy:hover {
        background-color: rgba(235, 101, 58, 255);
        color: white;
    }

    .main {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header_main {
        flex-direction: row;
        padding: 1rem;
    }

    .header_both_tittles {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: flex-start;
    }
    .header_button:hover {
        background-color: transparent;
        border-style: solid;
        border-color: rgba(235, 101, 58, 255);
        color: rgba(235, 101, 58, 255);
    }

    .Great_images_container {
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .image1,
    .image2,
    .image3 {
        filter: none;
    }

    .image_container:hover {
        filter: brightness(0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        visibility: visible;
        color: white;
        padding-bottom: 10px;
        border-radius: 30px;
        margin: 10px;
        width: 350px;
        height: 260px;
    }

    .image_container:hover .image1_title,
    .image_container:hover .image1_subtitle,
    .image_container:hover .image2_title,
    .image_container:hover .image2_subtitle,
    .image_container:hover .image3_title,
    .image_container:hover .image3_subtitle {
        visibility: visible;
    }
    .image_container .image1_title,
    .image_container .image1_subtitle,
    .image_container .image2_title,
    .image_container .image2_subtitle,
    .image_container .image3_title,
    .image_container .image3_subtitle {
        visibility: hidden;
    }
}
